*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.link-navbar {
  text-decoration: none;
}

.logo .sidebar-name {
  display: block;
  transition: all 5s ease-out;
  -webkit-transition: all 5s ease-out;
  -moz-transition: all 5s ease-out;
  -o-transition: all 5s ease-out;
}

.logo:hover {
  transform: scale(1.5);
}
.sidebar-name:hover {
  transform: translateX(5%);
}
@media screen and (max-width: 568px) {
  .buSoPE {
    height: 92% !important;
  }
}
